DATABASE_URL=postgresql://noteapp:noteapp_password@localhost:5434/noteapp

# Pour générer le secret, tu peux lancer : openssl rand -base64 32
BETTER_AUTH_SECRET=yoursupersecretkeyhere
BETTER_AUTH_URL=http://localhost:3000
ADMIN_EMAIL=youradminemail@example.com
ADMIN_PASSWORD=youradminpasswordhere