DATABASE_URL=postgresql://noteapp:noteapp_password@localhost:5434/noteapp

# Pour générer le secret, tu peux lancer : openssl rand -base64 32
BETTER_AUTH_SECRET=yoursupersecretkeyhere
BETTER_AUTH_URL=http://localhost:3000
ADMIN_EMAIL=youradminemail@example.com
ADMIN_PASSWORD=youradminpasswordhere

# Docker Compose (optionnel, valeurs par défaut dans docker-compose.yml)
# POSTGRES_USER=noteapp
# POSTGRES_PASSWORD=yourstrongpasswordhere
# POSTGRES_DB=noteapp